body {
  background: linear-gradient(to right, rgb(31, 31, 72), rgb(50, 157, 109));
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  border-radius: 8px;
  box-shadow: 5px 5px 30px white;
  height: 300px;
  width: 400px;
  margin: auto;
  padding: 100px;
  background-color: rgb(31, 31, 72);
  background-size: cover;
}
h1 {
  color: white;
}
p {
  color: white;
}
span {
  color: rgb(50, 157, 109);
}
button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(50, 157, 109);
  border: none;
  margin-bottom: 15px;
}
button:hover {
  background-color: rgb(31, 31, 72);
  border: 2px solid rgb(50, 157, 109);
}
#password1-el {
  color: white;
  height: 20px;
  width: 150px;
  background-color: rgb(42, 42, 92);
  margin-right: 8px;
  padding: 10px;
  border-radius: 5px;
}
hr {
  color: white;
  height: 2px;
  background-color: rgb(50, 157, 109);
  border: none;
  margin-bottom: 15px;
}
#password2-el {
  border-radius: 5px;
  color: white;
  height: 20px;
  width: 150px;
  background-color: rgb(42, 42, 92);
  margin: 0px;
  padding: 10px;
}
.password {
  display: block;
  margin-top: 20px;
}
