body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', monospace;
}
#main {
  border: 2px solid black;
  height: 350px;
  width: 300px;
  margin: 50px auto;
  border-radius: 15px;
}
.screen {
  height: 50px;
  width: 80%;
  border: 2px solid black;
  margin: 15px auto;
  border-radius: 15px;
  font-weight: bold;
  text-align: right;
}
.screen h1 {
  margin:0;
  padding: 10px;
  font-size: 24px;
}
.numbers {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  height: 200px;
  width: 250px;
  gap: 10px;
  border-radius: 20px;

}
button {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  margin: 0px;
  font-size: 18px;
  border: 2px solid black;
}
button:hover {
  background-color: lightgray;
  cursor: pointer;
}
