body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.main {
  padding-top: 20px;
  background-color: rgb(232, 208, 179);
  height: 400px;
  width: 400px;
  margin: auto;
  border: 4px solid black;
  border-radius: 10px;
}
#increment-btn {
  background-color: rgb(136, 23, 23);
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  margin: 10px;
  border: none;
}
#increment-btn:hover, #save-btn:hover {
  border: 2px solid black;
}
#save-btn {
  background-color: rgb(23, 136, 59);
  color: white;
  padding: 10px;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  margin: 10px;
}
