body {
  background-image: url(https://e0.pxfuel.com/wallpapers/230/508/desktop-wallpaper-blackjack-casino-game.jpg);
  background-size: cover;
  font-family: fantasy;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}
.main {
  width: 400px;
  height: 400px;
  margin: 60px auto;
  border: 3px solid white;
  border-radius: 7px;
  background-color: #063618;
}
h1 {
  color: goldenrod;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  margin: 10px;
  background-color: rgb(214, 175, 75);
  color: rgb(67, 86, 36);
  border: none;
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  font-weight: bold;
}
button:hover{
    cursor: pointer;
    color: white;
}
