/* body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.green{
  color: green;
  text-decoration: dashed underline;
}
.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */

.red{
color: red;
}

.box{
  border: 2px solid black;
  background-color: pink;
}