.main {
  margin-top: 30px;
  text-align: center;
}
.logo-img {
  width: 500px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.search {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}
.btn {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  color: black;
  background-color: #dfe1e5;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 4px;
    margin-right: 4px;
}
.btn-wrapper{
 display: flex;
  justify-content: center;

}
/* .card{
    color: aliceblue;
    background-color: black;
    width:400px;
    margin: 100px;
    padding:70px ;
    border: 3px solid gray;
    border-radius: 30px;
 }
 button{
    background-color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
 } */
