body {
  margin: 0;
  padding: 0;
  text-align: center;
}
div {
  margin: 40px auto;
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}
.delete{
}