body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.convert-tab {
  display: block;
  padding-bottom: 10px;
  margin: auto;
  height: 40%;
  width: 50%;
  background-color: rgb(238, 237, 237);
  border-radius: 7px;
}
.input-section {
  border-radius: 7px;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7351d8;
  color: white;
}
.units {
  border-radius: 7px;
  height: 7rem;
  width: 90%;
  color: #8869e3;
  margin: 20px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  background-color: #7351d8;
  margin-top: 20px;
  color: white;
  padding: 5px;
  border: 2px solid white;
  min-height: 30px;
  width: 50px;
  text-align: center;
}
button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #7351d8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}



