body{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    margin: 20px auto;
    display: block;
    padding: 2px 10px;
    font-size: 20px;
    cursor: pointer;
}
.catImage{
    height: 400px;
    width: 400px;
}
.cat-block{
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}