body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
}

.container h2 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 8px;
}

.add-btn {
  padding: 8px 10px;
  cursor: pointer;
}

ul {
  padding: 0;
  margin-top: 15px;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 8px;
  background: #f2f2f2;
  border-radius: 6px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
