body {
  background-color: rgba(219, 229, 238, 0.823);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btn {
  width: 180px;
  height: 180px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 0.9rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.red {
  background-color: rgb(235, 75, 75);
}
.yellow {
  background-color: rgb(243, 150, 50);
}
.green {
  background-color: rgb(97, 179, 181);
}
.purple {
  background-color: rgb(245, 77, 181);
}
.flash {
  background-color: white !important;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.1s;
}
