body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
input {
  width: 100%;
  padding: 10px;
  border: 2px solid #000000;
  /* so it doesnt overflow 100%+10px padding +10px padding */
  box-sizing: border-box;
  margin-bottom: 6px;
}
button {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
  border-radius: .25rem;
}
#input-btn{
   border: 2px solid #000000;
   background-color: #000000;
  color: white;
}
ul {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}
li{
    margin: 5px;
    font-weight: bold;
}
a {
  color: #000000;
}
#delete-btn{
  background-color: white;
  color: #000000;
  border: 2px solid #000000;
}