body{
    margin: 0;
    padding: 10;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width:100%;
    padding: 10px;
      border: 2px solid #307433;
          box-sizing: border-box;
margin-bottom: 4px;
}
button{
    background-color: #307433;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}