<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROLL</title>
</head>

<body>
    <h3>Dice gave number: <%=diceVal %>
    </h3>
    <% if (diceVal===6) { %>
        <h4>Congratulations! You rolled a 6!</h4>
        <% }  else{ %>
                <h4>Try again to roll a 6!</h4>
                 <% } %>       
</body>

</html>