#container {
  height: 600px;
  width: 80%;
  background-color: azure;
  /* Using auto for horizontal margins is a common
   trick to center a block element horizontally
    within its container*/
  margin: 10px auto;
  border: 2px solid black;
  /* limits the element to be fitted inside parent container */
  display: flex;
  /* order or elements is decided by flex-direction */
  flex-direction: row;
  /* position and spacing inside flex decided by justify-content, space
  between and aaround content items along the main  axis */
  justify-content: flex-start;
  flex-wrap:wrap; 
  align-items: flex-start;
}
h1 {
  text-align: center;
}
#container div {
  text-align: center;
  height: 100px;
  width: 300px;
  color: white;
  font-size: 1.5em;
}
#orange{
  align-self: flex-start;
}
